.pending {
  height: 100%;
  background-color: var(--bg);
  padding: 1rem;
  border-left: 1px solid var(--bg-secondary);
}

.pendingHeader {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.pendingHeader h1 {
  text-transform: uppercase;
  color: var(--fg-secondary);
  font-size: 1.1rem;
  font-weight: 600;
}

.pendingHeader button {
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: .3rem .7rem;
  font-size: 1.3rem;
  transition: background-color .12s ease, color .12s ease;

  &:hover {
    background-color: var(--accent-1);
    color: var(--bg)
  }
}

.addModal[open] {
  display: flex;
}

.addModal {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / .5)
}

.addModalContent {
  width: 300px;
  height: auto;
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 15px;
}

.addModalContent h3 {
  margin-bottom: .8rem;
}

.addModalContent form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.addModalContent input {
  border: 1px solid var(--fg-secondary);
  padding: .5rem 1rem;
  border-radius: 10px;
}
