.calendarWrapper {
  padding: 1rem;
}

.editModal[open] {
  display: flex;
}

.editModal {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / .5)
}

.editModalContent {
  width: 300px;
  height: auto;
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 15px;
}

.editModalContent h3 {
  margin-bottom: .8rem;
}

.editModalContent form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.editModalContent input {
  border: 1px solid var(--fg-secondary);
  padding: .5rem 1rem;
  border-radius: 10px;
}
