:root {
  --fg: black;
  --fg-secondary: #707070;

  --bg: white;
  --bg-secondary: #f2f2f2;
  --accent-1: #1787ff;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  line-height: 1.4;
  background: var(--bg);
  color: var(--fg);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

span {
  display: block;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
}

input {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:focus {
  border: none;
  outline: none;
}

svg,
img,
picture {
  display: block;
}

/* Contents */
.modal[open] {
  display: flex;
}

.modal {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(0 0 0 / .5)
}

.modalContent {
  width: 300px;
  height: auto;
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 15px;
}

.modalContent h3 {
  margin-bottom: .8rem;
}

.modalContent form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.modalContent input {
  border: 1px solid var(--fg-secondary);
  padding: .5rem 1rem;
  border-radius: 10px;
}

.sidebar {
  height: 100%;
  background-color: var(--bg);
  padding: 1rem;
  border-right: 1px solid var(--bg-secondary);
}

.sidebarHeader {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.sidebarHeader h1 {
  text-transform: uppercase;
  color: var(--fg-secondary);
  font-size: 1.1rem;
  font-weight: 600;
}

.sidebarHeader button {
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: .3rem .8rem;
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color .12s ease, color .12s ease;

  & span {
    margin-right: 10px;
  }

  &:hover {
    background-color: var(--accent-1);
    color: var(--bg)
  }
}

.sidebar ul,
.sidebar ul li,
.sidebar ul li span {
  min-width: 100%;
}

.sidebar ul {
  --flow-space: .6rem;
}

.sidebar ul li span,
.sidebar ol li span {
  cursor: pointer;
}

.sidebar ul li span {
  background-color: var(--bg-secondary);
  padding: .5rem 1.5rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color .12s ease, color .12s ease;

  &:hover {
    background-color: var(--accent-1);
    color: var(--bg);
  }
}

/* Utility classes */
.wrapper {
  --width: 1280px;
  --padding: 2rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.flow>*+* {
  margin-top: var(--flow-space, 1rem);
}
