:root {
  --fg: black;
  --fg-secondary: #707070;

  --bg: white;
  --bg-secondary: #f2f2f2;
  --accent-1: #147efe;
  --green: #72ff62;
  --red: #ff6762;
}

html,
body {
  overflow: hidden;
}

body {
  font-size: 16px;
  line-height: 1.4;
  background: var(--bg);
  color: var(--fg);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

span {
  display: block;
}

small {
  display: block;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
}

input {
  border: none;
  color: inherit;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
}

input::placeholder {
  color: inherit;
}

input:focus {
  border: none;
  outline: none;
}

select {
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
}

select:focus {
  border: none;
  outline: none;
}

svg,
img,
picture {
  display: block;
}

/* Contents */
.modal[open] {
  display: flex;
}

.modal {
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(0 0 0 / .5);
  border: none;
  outline: none
}

.modalContent {
  width: 300px;
  height: auto;
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 15px;
}

.modalContent h3 {
  margin-bottom: .8rem;
}

.modalContent form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.modalContent input {
  border: 1px solid var(--fg-secondary);
  padding: .5rem 1rem;
  border-radius: 10px;

  &::placeholder {
    color: var(--fg-secondary);
  }
}

.modalContent input[type="date"] {
  color: var(--fg-secondary);
}

.sidebar {
  background-color: var(--bg);
  padding: 1rem;
  height: 100dvh;
  background-color: var(--bg-primary);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-bottom: 2em;
}

.sidebarHeader {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.sidebarHeader h1 {
  text-transform: uppercase;
  color: var(--fg-secondary);
  font-size: .88rem;
  font-weight: 600;
}

.sidebarHeader button {
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: .3rem .8rem;
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 0;
  transition: background-color .12s ease, color .12s ease;

  & span {
    margin-right: 10px;
  }

  &:hover {
    background-color: var(--accent-1);
    color: var(--bg)
  }
}

.sidebar ul li,
.sidebar ol li {
  cursor: pointer;
}

.sidebar ul li span {
  color: var(--fg-secondary);

  &:hover {
    color: var(--fg)
  }
}

.sidebar ol li span {
  margin-bottom: .2rem;
}

.sidebar ol li:hover span {
  color: var(--accent-1);
}

.sidebar ol li small {
  color: var(--fg-secondary);
}

.sidebar select {
  border: 1px solid var(--fg-secondary);
  padding: .5rem 1rem;
  border-radius: 10px;
  background-color: var(--bg);
}

.sidebar select:has(option[value=""]:checked) {
  color: var(--fg-secondary);
}

.modal button {
  padding: .5rem 1rem;
  border-radius: 10px;
  color: var(--fg) !important;
  transition: opacity .1s ease;

  &:hover {
    opacity: .6
  }
}

.btn-save {
  background-color: var(--green);
}

.btn-delete {
  background-color: var(--red);
}

.btn-cancel {
  background-color: var(--bg-secondary)
}

/* Utility classes */
.wrapper {
  --width: 1280px;
  --padding: 2rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.flow>*+* {
  margin-top: var(--flow-space, 1rem);
}
