:root {
  --fg: black;
  --fg-secondary: #707070;

  --bg: white;
  --bg-secondary: #f2f2f2;
  --accent-1: #1787ff;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  line-height: 1.4;
  background: var(--bg);
  color: var(--fg);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
}

input {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:focus {
  border: none;
  outline: none;
}

svg,
img,
picture {
  display: block;
}

/* Utility classes */
.wrapper {
  --width: 1280px;
  --padding: 2rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.flow>*+* {
  margin-top: var(--flow-space, 1rem);
}
